@charset "utf-8";
/* CSS Document */
body{ background:#1c1a25;}
.header{width:990px;height:50px;margin:auto;background:#f8f7f7;padding-right:10px;}
.header ul .last{border-right:none;}
.header ul li{border-right:1px solid #e1e1e1;}
.header ul li a{display:block;font-size:12px;color:#4a4a4a;padding:0 14px 0 25px;line-height:50px;}
.header ul li .first{padding:0 20px 0 30px; background:url(../img/icon_07.png) no-repeat 0 center;}
.header ul li .second{padding:0 20px 0 30px; background:url(../img/icon_05.png) no-repeat 0 center;}
.header ul li .three{padding:0 20px 0 30px; background:url(../img/icon_03.png) no-repeat 0 center;}
.bj{display:block;width:1000px;height:5px;margin:auto; background:url(../img/1.png);}
.banner{width:1000px;height:552px; background:url(../img/banner.jpg);margin:auto; position:relative;}
.banner h1{width:188px;height:110px; background:url(../img/logo.png) no-repeat 0 20px;}
.banner h1 .logo{display:block;width:188px;height:110px;text-indent:-999em;}
.banner ul li{margin-left:12px;margin-right:4px;}
.banner ul li .chinese{display:block;font-size:16px;color:#bebebe;text-align:center;margin-top:38px;}
.banner ul li .english{display:block;color:#bebebe;text-align:center;font-size:10px;}
.banner .present{width:21px;height:110px;font-size:20px;color:#fff; background:#a32809; position:absolute;left:0;top:246px;line-height:22px;padding:4px; border-bottom:1px solid #b3462f; border-top:1px solid #b3462f; border-right:1px solid #b3462f;}
.download{width:1000px;height:108px;margin:auto;}
.download .left-down{display:block;width:215px;height:108px;background:url(../img/sprite.jpg) 0 0;border-bottom:1px solid #443b4f;border-top:1px solid #443b4f;}
.download .middle-down{width:400px;height:108px;border-bottom:1px solid #443b4f;border-top:1px solid #443b4f;}
.download .middle-down li{width:100px;height:108px;float:left;}
.download .middle-down li a{display:block;width:100px;height:108px;}
.download .middle-down li .first{ background:url(../img/sprite.jpg) -216px 0;}
.download .middle-down li .first:hover{ background:url(../img/sprite.jpg) -216px -110px;}
.download .middle-down li .second{ background:url(../img/sprite.jpg) -316px 0;}
.download .middle-down li .second:hover{ background:url(../img/sprite.jpg) -316px -110px;}
.download .middle-down li .three{ background:url(../img/sprite.jpg) -416px 0;}
.download .middle-down li .three:hover{ background:url(../img/sprite.jpg) -416px -110px;}
.download .middle-down li .four{ background:url(../img/sprite.jpg) -516px 0;}
.download .middle-down li .four:hover{ background:url(../img/sprite.jpg) -516px -110px;}
.download .right-down{width:385px;height:110px;background:url(../img/bj.png);}
.right-down .right-top{width:385px;height:66px; background:url(../img/sever.png) no-repeat 17px 7px; position:relative;}
.right-down .right-top .first{ position:absolute;left:96px;top:14px;font-size:14px;color:#adb9e0;}
.right-down .right-top .first span{color:#f00000;margin-left:12px;margin-right:8px;}
.right-down .right-top .second{ position:absolute;left:96px;top:36px;font-size:14px;color:#adb9e0;}
.right-down .right-top .second span{color:#f00000;margin-left:12px;margin-right:8px;}
.right-down .right-bottom{width:385px;height:43px; background:url(../img/bj2.png) no-repeat;border-bottom:1px solid #322e3f;}
.right-bottom .update{font-size:12px;color:#adb9e0;line-height:43px;margin-left:6px;}
.right-bottom .update a{color:#f93d1a; text-decoration:underline;}
.right-bottom  .icon{width:14px;height:14px; background:url(../img/sprite.jpg) -603px -227px;margin:14px 0 0 2px;}
.right-bottom  .care{font-size:12px;color:#adb9e0;line-height:43px;margin-left:30px;}
.right-bottom  .icon1{width:26px;height:21px; background:url(../img/sprite.jpg) -248px -230px;margin:10px 0 0 10px;}
.right-bottom  .icon1:hover{background:url(../img/sprite.jpg) -405px -231px;}
.right-bottom  .icon2{width:27px;height:21px; background:url(../img/sprite.jpg) -295px -230px;margin:10px 0 0 21px;}
.right-bottom  .icon2:hover{background:url(../img/sprite.jpg) -448px -231px;}
.right-bottom  .icon3{width:22px;height:21px; background:url(../img/sprite.jpg) -345px -230px;margin:10px 0 0 23px;}
.right-bottom  .icon3:hover{background:url(../img/sprite.jpg) -494px -231px;}
.summer{width:1000px;height:305px;margin:auto;}
.summer-left{width:616px;height:303px;border:1px solid #443b4f; position:relative;}
.summer-left .guanfang{ position:absolute;width:14px;height:46px; border:1px solid #3e4661; background:url(../img/icon1.png) no-repeat 9px 5px #272c3e;font-size:12px;color:#0ac0d0;left:10px;top:10px;border-radius:10px;padding:15px 5px 0 6px;}
.summer-left .media{ position:absolute;width:14px;height:46px; border:1px solid #3e4661; background:#272c3e;font-size:12px;color:#0ac0d0;left:10px;top:83px; border-radius:10px;padding:15px 5px 0 6px;}
.summer-left .icon{width:90px;height:15px; position:absolute;right:9px;bottom:10px;}
.summer-left .icon a{width:15px;height:15px; background:#3a3e47;margin-right:3px; border-radius:50%;}
.summer-left .icon a:hover{background:#d0290a;}
.summer-right{width:382px;height:305px; background:#322e3f;}
.summer-top{width:382px;height:56px;}
.summer-top li a{display:block;width:95px;height:56px; background:url(../img/sprite.jpg) -94px -263px;font-size:14px;color:#fefefe;line-height:56px;text-align:center;}
.summer-top li a:hover{background:url(../img/sprite.jpg) -94px -322px;}
.summer-bottom{width:382px;height:247px; position:relative;}
.summer-bottom .top-box{ position:absolute;left:17px;top:18px;width:345px;height:34px; background:url(../img/bj3.png);font-size:14px;color:#e03c05;line-height:34px;text-align:center;}
.summer-bottom ul{ position:absolute;left:23px;top:55px;}
.summer-bottom ul li a{ display:block;width:345px;}
.summer-bottom ul li a span{font-size:14px;color:#959fc1;line-height:26px;}
.summer-bottom ul li a .last{padding-left:20px; background:url(../img/icon2.png) no-repeat 0 8px;}
.summer-bottom ul li a span:hover{color:#e03c05;}
.present{width:1000px;height:132px; background:#1c1a25;margin:auto;padding:32px 0 30px 0;}
.present ul{margin-right:-8px;}
.present ul li{width:244px;height:132px;margin-right:8px;float:left;}
.present ul li img{ cursor:pointer;}
.role{width:1000px;height:348px;margin:auto;}
.role-left{width:660px;height:346px;border:1px solid #433b4f;}
.role-top{width:660px;height:59px;}
.role-top li a{display:block;width:110px;height:59px; float:left;}
.role-top .frist{background:url(../img/sprite.jpg) 0 -412px;}
.role-top .second{background:url(../img/sprite.jpg) -110px -412px;}
.role-top .three{background:url(../img/sprite.jpg) -220px -412px;}
.role-top .four{background:url(../img/sprite.jpg) -330px -412px;}
.role-top .five{background:url(../img/sprite.jpg) -440px -412px;}
.role-top .six{background:url(../img/sprite.jpg) -550px -412px;}
.role-top .frist:hover{background:url(../img/sprite.jpg) 0 -471px;}
.role-top .second:hover{background:url(../img/sprite.jpg) -110px -471px;}
.role-top .three:hover{background:url(../img/sprite.jpg) -220px -471px;}
.role-top .four:hover{background:url(../img/sprite.jpg) -330px -471px;}
.role-top .five:hover{background:url(../img/sprite.jpg) -440px -471px;}
.role-top .six:hover{background:url(../img/sprite.jpg) -550px -471px;}
.role-bottom{width:660px;height:287px;}
.role-right{width:322px;height:348px; position:relative;}
.role-right .icon{position:absolute;left:0;top:0;width:28px;height:28px; background:url(../img/sprite.jpg) no-repeat -628px 0;}
.role-right .activity{position:absolute;left:40px;width:80px;height:27px;font-size:18px;color:#f3ca90;line-height:27px;}
.role-right .picture{width:319px;height:149px;border:1px solid #433b4f; position:absolute;top:46px;right:0;}
.role-right .cover{width:319px;height:36px; background:#000; opacity:0.4;filter:alpha(opacity:40); position:absolute;top:159px;left:0;}
.role-right .content{width:86px;height:36px;font-size:14px;color:#fff;line-height:36px; position:absolute;top:159px;left:5px;}
.container{width:319px;height:137px; position:absolute;bottom:4px;left:0;}
.container li{width:319px;height:25px; background:url(../img/sprite.jpg) 0 -530px;margin-bottom:3px;border-radius:3px;}
.container li span{font-size:12px;color:#9ba5c9;float:right;line-height:25px;margin-right:9px;}
.container li a{font-size:12px;color:#9ba5c9;line-height:25px;float:left;margin-left:27px;}
.container li a:hover{color:#fe3f08;}
.inport{width:1000px;height:784px;margin:auto;padding-top:30px;}
.inp-left{width:215px;height:784px;float:left;}
.inp-left .inp-top{width:215px;height:189px; background:url(../img/sprite.jpg) 0 -555px;}
.inp-left .inp-top h3{font-size:16px;color:#dbca90;line-height:40px;text-align:center;}
.inp-top .box{margin-top:14px;margin-left:22px;}
.inp-top .first li a{font-size:14px;color:#9587ab;line-height:28px;}
.inp-top .first li a:hover{color:#e23203;}
.inp-top .second{margin-left:38px;}
.inp-top .second li a{font-size:14px;color:#9587ab;line-height:28px;}
.inp-top .second li a:hover{color:#e23203;}
.inp-middle{width:215px;height:302px;margin-top:24px;}
.inp-middle a{display:block;width:205px;height:36px; background:url(../img/sprite.jpg) -451px -273px;margin:5px 0 0 5px;font-size:16px;color:#b1a1ca;line-height:36px;text-align:center;}
.inp-bottom{width:215px;height:244px; background:url(../img/examen.jpg);margin-top:10px;}
.inp-con{width:424px;height:784px;float:left;margin-left:20px;}
.inp-con .top-con{width:424px;height:346px;margin-bottom:40px;}
.inp-con .top-con h3 i{float:left;width:36px;height:25px; background:url(../img/sprite.jpg) -612px -352px;margin-left:6px;}
.inp-con .top-con h3 span{float:left;height:25px;font-size:19px;color:#f3ca90;line-height:25px;margin-left:8px;}
.inp-con .top-con .player{width:424px;height:47px;margin-top:12px;}
.inp-con .top-con .player li{width:104px;height:46px;float:left;}
.inp-con .top-con .player .last{width:108px;height:46px;}
.inp-con .top-con .player .last a{width:85px;padding-left:26px; background:url(../img/icon2.png) no-repeat 20px 16px #1a191f;border-top:none;}
.inp-con .top-con .player .last a:hover{height:47px;background:url(../img/icon2.png) no-repeat 20px 16px #322b3c;border-bottom:2px solid #322b3c;}
.inp-con .top-con .player li a{display:block;width:104px;height:46px; background:#1a191f;font-size:12px;color:#a295b7;line-height:46px;text-align:center;border-left:1px solid #433b4f;border-top:1px solid #433b4f;}
.inp-con .top-con .player li a:hover{background:#322b3c;border-bottom:1px solid #322b3c;}
.inp-con .top-con .box-1{width:422px;height:256px;border:1px solid #433b4f;background:#322b3c;}
.inp-con .top-con .box-1 img{float:left;margin-top:23px;margin-left:15px;}
.inp-con .top-con .box-1 ul{float:left;margin-left:18px;margin-top:23px;}
.inp-con .top-con .box-1 ul li a{font-size:14px;color:#a295b7;line-height:26px;}
.inp-con .top-con .box-1 ul li a:hover{color:#fb420c;}
.inp-con .top-con .icon1{ background:url(../img/sprite.jpg) -618px -384px;}
.inp-right{width:322px;height:734px;float:right;}
.inp-right .top-con{width:322px;height:344px;margin-bottom:38px;}
.inp-right .top-con h3 i{float:left;width:36px;height:25px; background:url(../img/sprite.jpg) -631px -42px;margin-left:6px;}
.inp-right .top-con h3 span{float:left;height:25px;font-size:19px;color:#f3ca90;line-height:25px;margin-left:8px;}
.inp-right .top-con .player{width:286px;height:303px;border:1px solid #4b3f5c;margin-top:13px;padding:0 17px; background:#26212d;}
.inp-right .top-con .player .sub-player{width:286px;height:58px;border-bottom:1px dashed #594f67;}
.inp-right .top-con .player .sub-player span{width:78px;height:26px;font-size:14px;color:#fff;line-height:26px;text-align:center; background:url(../img/icon3.png);margin-top:16px;}
.inp-right .top-con .player li ul{margin-top:22px;}
.inp-right .top-con .player li ul li a{font-size:13px;color:#9587ab;border-right:2px solid #594f67;padding:0 2px 0 4px;}
.inp-right .top-con .player li ul li .last{border-right:none;}
.inp-right .top-con .player .spe{border-bottom:none;}
.material{display:block;width:279px;height:39px;border:2px solid #4b3f5c;font-size:21px;color:#b1a1ca;line-height:39px;text-align:center;}
.inp-right .top-con h3 .icon-con{float:left;width:36px;height:28px; background:url(../img/sprite.jpg) -624px -80px;margin-left:6px;}
.top-con .player1{width:322px;height:47px;}
.top-con .player1 li a{display:block;width:104px;height:46px;background:#1e1b24;font-size:14px;line-height:46px;text-align:center;color:#a295b7;float:left;border-left:1px solid #433b4f;border-top:1px solid #433b4f;}
.top-con .player1 li a:hover{height:47px;background:#322b3c;}
.top-con .player1 li .last{border-top:none;width:77px;padding-left:34px; background:url(../img/icon2.png) no-repeat 20px center;}
.top-con .player1 li .last:hover{height:48px;background:url(../img/icon2.png) no-repeat 20px center #322b3c;}
.top-con .player2{width:320px;height:256px;border:1px solid #433b4f;background:#322b3c;}
.top-con .player2 ul{width:320px;height:256px;margin-left:10px;}
.top-con .player2 ul li{margin-top:23px;margin-right:22px;}
.gonggao{width:880px;height:16px; background:url(../img/game_anc.jpg);margin:0 auto 10px;padding-top:10px;}
.gonggao span{font-size:17px;color:#908c9b;margin-left:390px;}
.tishi{width:880px;height:96px;margin:auto;}
.tishi p{font-size:15px;color:#908c9b;line-height:30px;}
.tishi .p1{width:658px;margin:auto;}
.nav-bg{display:block;width:100%;height:10px;background:url(../img/nav_bg.png) no-repeat 0 -50px;}
.bottom{width:100%;height:100px;margin:auto; background:#181818;}
.bottom .bottom-box{width:1000px;height:100%;margin:auto;}
.bottom span{width:116px;height:62px; background:url(../img/logo_dark.png) no-repeat 0 -50px;margin:20px 0 0 76px;}
.bottom i{width:30px;height:44px; background:url(../img/cyou_copyright_sprite.png) no-repeat;margin:26px 18px;}
.bottom div{margin-top:30px;}
.bottom p{font-size:12px;color:#535353;margin-bottom:6px;}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

